node_modules
.env
.DS_Store 
npm-debug.log
yarn-error.log
.vscode
dist
build
coverage
.idea
*.log
*.tsbuildinfo
.cache
.next
out
.env.local
.env.development.local
.env.test.local

.env.production.local
*.pem
*.p12
*.crt
*.key
*.pfx