<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Home</title>
</head>
<body>
  <header>
  <h1>Register Your Home on AirBnb!</h1>
  </header>
  <main>
    <form action="/host/add-home" method="POST">
      <input type="text" name="homeName" placeholder="Enter Home Name"/>
      <input type="text" name="location" placeholder="Enter Location"/>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>
</html>